html {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("./img/ocean-night.png");
    background-size: 200px auto;
}

table {
    font-size: calc(16px + 0.1vh);
}

.loginTitle {
    background-image: url('./img/ocean-header-night.png');
    background-position: center bottom;
    background-size: 400px auto;
    background-repeat: repeat-x;
    text-align: left;
    color: white;
    padding: 30px;
    top: -20px;
    left: -8px;
    position: relative;
    width: calc(100% - 45px);
    height: 80px;
}

.textTitle {
    font-size: 45px;
    font-weight: bold;
}

.header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 310px;
}

.tracker {
    vertical-align: top;
    padding: 10px;
    background-color: gray;
}

.tracker img {
    width: 60px;
}

.tracker td {
    height: 65px;
}

.trackerBoss {
    vertical-align: top;
    padding: 10px;
    background-color: gray;
}

.trackerBoss img {
    height: 100px;
}

.trackerBoss td {
    height: 65px;
}

.counter {
    padding: 20px;
    width: 60px;
}

.counterBR {
    text-align: center;
}

.checks {
    vertical-align: top;
}

.checkValue {
    font-size: 18px;
}

div.scrollable {
    width: 300px;
    max-height: 200px;
    margin: 0;
    padding: 0;
    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}

button {
    background-color: skyblue;
    /* Green */
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 20px;
}

.connButton {
    width: 200px;
}

.button1:hover {
    background-color: white;
    color: black;
}

.button1 {
    background-color: #4CAF50;
    color: white;
}

.button3:hover {
    background-color: white;
    color: black;
}

.button3 {
    background-color: #f44336;
    color: white;
}

.counter {
    font-size: 24px;
    font-weight: bolder;
}

#log {
    font-size: 18px;
}

.trackerNum {
    font-size: 24px;
}

.magic {
    height: 45px;
}

.forms {
    height: 40px;
}

.unlocks {
    height: 26px;
}

.worldTracker {
    height: 40px;
    text-align: center;
}

.worldRem {
    text-align: center;
}

input[type="file"] {
    outline: none;
    padding: 4px;
    margin: -4px;
}

input[type="file"]::before {
    top: 16px;
}

input[type="file"]::after {
    top: 14px;
}

/* ------- From Step 2 ------- */

input[type="file"] {
    position: relative;
}

input[type="file"]::file-selector-button {
    width: 115px;
    color: transparent;
}

/* Faked label styles and icon */
input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    /*   top: 11px; */
    left: 40px;
    color: black;
    content: "Upload File";
}

input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    /*   top: 10px; */
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

/* ------- From Step 1 ------- */

/* file upload button */
input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: skyblue;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}

div#log,
div#hints {
    height: calc(95%);
    margin: 0;
    padding: 0;
    overflow: auto;
}

div#items,
div#locations {
    height: calc(95%);
    margin: 0;
    padding: 0;
    overflow: auto;
}

.items {
    cursor: pointer;
}

.locations {
    background-color: rgb(0, 119, 255);
    border: 1px solid white;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    cursor: pointer;
}

.is-hidden,
.dont-show {
    display: none;
}

.itemsStyle {
    background-color: rgb(0, 173, 145);
    color: black;
    border: 1px solid white;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #3f3f3f;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.textMsg,
.hintMsg {
    border: solid white 1px;
    background-color: #3f3f3f;
    padding: 7px;
}

input[type=text]:disabled {
    background-color: black;
    color: white;
}

/*Tooltip Start*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*Tooltip End*/